*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	justify-content: center;
}

section {
	display: flex;
    justify-content: center; 
}

p {
	font-family: 'Open Sans', sans-serif;
	text-shadow: black 0.1em 0.1em 1.2em;
	text-transform: uppercase;	
}

#display {
	padding: 15px;
    margin-top: 5px;
    margin-bottom: 2px;
}
@media(max-width: 768px){
	#display{
		padding: 15px;
	}
}

#calculadora{
	height: 300px;
	background-color: #5656;

}

.objetos__calculadora{
	display: flex;
	justify-content: center;
}

@media(max-width: 768px){
	.inputTela__calculadora{
		width: 200px;
	}
}

input {
	padding: 20px;
}

.input__button{
	width: 24.1%;
}